[submodule "vim/bundle/css-color"]
	path = vim/bundle/css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "vim/bundle/tomorrow-night"]
	path = vim/bundle/tomorrow-night
	url = git://github.com/ChrisKempson/Vim-Tomorrow-Theme.git
[submodule "vim/bundle/clojure"]
	path = vim/bundle/clojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/vimclojure"]
	path = vim/bundle/vimclojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/alduin"]
	path = vim/bundle/alduin
	url = git@github.com:AlessandroYorba/Alduin.git
[submodule "vim/bundle/elm"]
	path = vim/bundle/elm
	url = git@github.com:lambdatoast/elm.vim.git
